<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        default: '{{ color }}',
                        bg: '{{ bg_color }}',
                        second: '#999',
                    }
                }
            }
        }
    </script>
    <link
      href="{% block css %}{% endblock %}"
      rel="stylesheet"
      type="text/css"
    />
    {% block head %}
    {% endblock %}
</head>
<body class="bg-[url({{ bg(theme) }})] backdrop-blur-sm bg-cover bg-right-bottom">
<div class="container mx-auto space-y-4 p-2">
    <div class="main rounded-lg bg-bg/[.75] backdrop-blur-sm p-4">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>